body {
  margin: 10px;
}
.page-placeholder {
}
.tree {
  margin-top: 50px;
}
.branch {
  margin-top: 10px;
}
.iterated-branch button.material-button-raised {
  background-color: lightgreen;
  opacity: 0.5;
}
.iterated-branch button.material-button-raised:hover {
  background-color: lightgreen;
  opacity: 1;
}
.recursive-branch button.material-button-raised {
  background-color: lightblue;
  opacity: 0.5;
}
.recursive-branch button.material-button-raised:hover {
  background-color: lightblue;
  opacity: 1;
}
.add-branch,
.delete-branch {
  border-radius: 50%;
}
div button.delete-branch.material-button-raised {
  background-color: red;
  color: white;
  opacity: 0.3;
}
div button.delete-branch.material-button-raised:hover {
  background-color: red;
  color: white;
  opacity: 1;
}
