<div ng-controller="TreeController"
     class="tree">
    <div class="branch iterated-branch" ng-repeat="branch in iteratedTree.getTreeIter()">
        <div style="margin-left: {{ getMargin(branch) }}">
            -
          <button class="material-button material-button-raised"
                  ng-click="editBranch(branch)">{{ branch.name }}</button>
          <button class="add-branch material-button material-button-raised"
                  ng-click="addBranch(branch)">+</button>
          <button ng-if="branch.branch.parent && !branch.branch.firstChild"
                  class="delete-branch material-button material-button-raised"
                  ng-click="deleteBranch(branch)">x</button>
        </div>
    </div>
</div>
