<div ng-controller="TreeController"
     class="tree">
    <div class="branch recursive-branch" ng-repeat="branch in recursiveTree.getTreeRecur()">
      <div style="margin-left: {{getMargin(branch)}}">
        -
        <button ng-click="editBranch(branch)">{{branch.name}}</button>
        <button class="add-branch"
                ng-click="addBranch(branch)">+</button>
        <button ng-if="branch.branch.parent && !branch.branch.firstChild"
                class="delete-branch"
                ng-click="deleteBranch(branch)">x</button>
      </div>
    </div>
</div>
